<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_OrderBySku>
            <version>0.1.0</version>
        </Goodahead_OrderBySku>
    </modules>
    <global>
        <models>
            <goodahead_orderbysku>
                <class>Goodahead_OrderBySku_Model</class>
            </goodahead_orderbysku>
        </models>
        <helpers>
            <goodahead_orderbysku>
                <class>Goodahead_OrderBySku_Helper</class>
            </goodahead_orderbysku>
        </helpers>
        <blocks>
            <goodahead_orderbysku>
                <class>Goodahead_OrderBySku_Block</class>
            </goodahead_orderbysku>
        </blocks>
    </global>
    <frontend>
        <routers>
            <goodahead_orderbysku>
                <use>standard</use>
                <args>
                    <module>Goodahead_OrderBySku</module>
                    <frontName>orderbysku</frontName>
                </args>
            </goodahead_orderbysku>
        </routers>
        <layout>
            <updates>
                <goodahead_orderbysku>
                    <file>goodahead/orderbysku.xml</file>
                </goodahead_orderbysku>
            </updates>
        </layout>
        <translate>
            <modules>
                <Goodahead_OrderBySku>
                    <files>
                        <default>Goodahead_OrderBySku.csv</default>
                    </files>
                </Goodahead_OrderBySku>
            </modules>
        </translate>
    </frontend>
</config>