<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_Customer>
            <version>0.1.2</version>
        </Goodahead_Customer>
    </modules>
    <global>
        <resources>
            <goodahead_customer_setup>
                <setup>
                    <module>Goodahead_Customer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodahead_customer_setup>
            <goodahead_customer_write>
                <use>core_write</use>
            </goodahead_customer_write>
            <goodahead_customer_read>
                <use>core_read</use>
            </goodahead_customer_read>
        </resources>
        <blocks>
            <goodahead_customer>
                <class>Goodahead_Customer_Block</class>
            </goodahead_customer>
            <adminhtml>
                <rewrite>
                    <customer_grid>Goodahead_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                    <sales_order_grid>Goodahead_Customer_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <goodahead_customer>
                <class>Goodahead_Customer_Model</class>
            </goodahead_customer>
        </models>
        <events>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <adminhtml_columns>
                        <model>goodahead_customer/observer</model>
                        <method>addColumnToResource</method>
                    </adminhtml_columns>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
        </events>
    </global>
</config>