<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_CreditBalance>
            <version>0.1.0</version>
        </Goodahead_CreditBalance>
    </modules>
    <global>
        <models>
            <goodahead_creditbalance>
                <class>Goodahead_CreditBalance_Model</class>
                <resourceModel>goodahead_creditbalance_resource</resourceModel>
            </goodahead_creditbalance>
            <goodahead_creditbalance_resource>
                <class>Goodahead_CreditBalance_Model_Resource</class>
                <entities>
                    <credit>
                        <table>goodahead_creditbalance_credit</table>
                    </credit>
                </entities>
            </goodahead_creditbalance_resource>
        </models>
        <resources>
            <goodahead_creditbalance_setup>
                <setup>
                    <module>Goodahead_CreditBalance</module>
                </setup>
            </goodahead_creditbalance_setup>
        </resources>
        <helpers>
            <goodahead_creditbalance>
                <class>Goodahead_CreditBalance_Helper</class>
            </goodahead_creditbalance>
        </helpers>
        <blocks>
            <goodahead_creditbalance>
                <class>Goodahead_CreditBalance_Block</class>
            </goodahead_creditbalance>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <account_credit>
                    <to_order>*</to_order>
                </account_credit>
                <base_account_credit>
                    <to_order>*</to_order>
                </base_account_credit>
            </sales_convert_quote>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <account_credit>
                        <class>goodahead_creditbalance/sales_quote_total</class>
                        <after>subtotal</after>
                        <before>grand_total</before>
                    </account_credit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <credit_balance>
                        <class>goodahead_creditbalance/sales_order_invoice_total</class>
                        <before>grand_total</before>
                    </credit_balance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <credit_balance>
                        <class>goodahead_creditbalance/sales_order_creditmemo_total</class>
                    </credit_balance>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <credit_balance translate="title">
                    <title>Account credit</title>
                    <source_field>account_credit</source_field>
                    <model>goodahead_creditbalance/sales_pdf_total</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </credit_balance>
            </totals>
        </pdf>
        <events>
            <sales_order_place_after>
                <observers>
                    <goodahead_creditbalance>
                        <class>goodahead_creditbalance/observer</class>
                        <method>onOrderPlaceAfter</method>
                    </goodahead_creditbalance>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_creditbalance>
                    <file>goodahead/creditbalance.xml</file>
                </goodahead_creditbalance>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_customer_save>
                <observers>
                    <goodahead_creditbalance>
                        <class>goodahead_creditbalance/observer</class>
                        <method>saveCreditData</method>
                    </goodahead_creditbalance>
                </observers>
            </controller_action_postdispatch_adminhtml_customer_save>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <goodahead_creditbalance>
                    <file>goodahead/creditbalance.xml</file>
                </goodahead_creditbalance>
            </updates>
        </layout>
    </frontend>
</config>