<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_CartLimit>
            <version>0.1.0</version>
        </Goodahead_CartLimit>
    </modules>
    <global>
        <models>
            <goodahead_cartlimit>
                <class>Goodahead_CartLimit_Model</class>
                <resourceModel>goodahead_cartlimit_mysql4</resourceModel>
            </goodahead_cartlimit>
            <goodahead_cartlimit_mysql4>
                <class>Goodahead_CartLimit_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>goodahead_cartlimit_group</table>
                    </group>
                </entities>
            </goodahead_cartlimit_mysql4>
        </models>
        <resources>
            <goodahead_cartlimit_setup>
                <setup>
                    <module>Goodahead_CartLimit</module>
                </setup>
            </goodahead_cartlimit_setup>
        </resources>
        <helpers>
            <goodahead_cartlimit>
                <class>Goodahead_CartLimit_Helper</class>
            </goodahead_cartlimit>
        </helpers>
        <blocks>
            <goodahead_cartlimit>
                <class>Goodahead_CartLimit_Block</class>
            </goodahead_cartlimit>
        </blocks>
    </global>
    <frontend>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <goodahead_cartlimit_checkout_cart_save_after>
                        <class>goodahead_cartlimit/observer</class>
                        <method>cartSaveAfter</method>
                    </goodahead_cartlimit_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <controller_action_predispatch>
                <observers>
                    <goodahead_cartlimit_controller_action_predispatch>
                        <class>goodahead_cartlimit/observer</class>
                        <method>checkoutActionPredispatch</method>
                    </goodahead_cartlimit_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <customer_group_load_after>
                <observers>
                    <goodahead_cartlimit_frontend_customer_group_load_after>
                        <class>goodahead_cartlimit/observer</class>
                        <method>frontendCustomerGroupLoadAfter</method>
                    </goodahead_cartlimit_frontend_customer_group_load_after>
                </observers>
            </customer_group_load_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <goodahead_cartlimit_block_abstract_prepare_layout_after>
                        <class>goodahead_cartlimit/observer</class>
                        <method>blockPrepareLayoutAfter</method>
                    </goodahead_cartlimit_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <customer_group_save_after>
                <observers>
                    <goodahead_cartlimit_customer_group_save_after>
                        <class>goodahead_cartlimit/observer</class>
                        <method>customerGroupSaveAfter</method>
                    </goodahead_cartlimit_customer_group_save_after>
                </observers>
            </customer_group_save_after>
            <customer_group_load_after>
                <observers>
                    <goodahead_cartlimit_customer_group_load_after>
                        <class>goodahead_cartlimit/observer</class>
                        <method>customerGroupLoadAfter</method>
                    </goodahead_cartlimit_customer_group_load_after>
                </observers>
            </customer_group_load_after>
        </events>
    </adminhtml>
    <default>
        <cartlimit>
            <limit>
                <min_limit>1</min_limit>
            </limit>
        </cartlimit>
    </default>
</config>