<?xml version="1.0"?>
<config>
    <modules>
        <Goodahead_Sales>
            <version>0.1.0</version>
        </Goodahead_Sales>
    </modules>
    <global>
        <blocks>
            <goodahead_sales>
                <class>Goodahead_Sales_Block</class>
            </goodahead_sales>
        </blocks>
        <models>
            <goodahead_sales>
                <class>Goodahead_Sales_Model</class>
            </goodahead_sales>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_sales_order_invoice_save>
                <observers>
                    <goodahead_sales>
                        <class>goodahead_sales/observer</class>
                        <method>adminhtmlSalesOrderInvoiceSavePostdispatch</method>
                    </goodahead_sales>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_invoice_save>
        </events>
        <layout>
            <updates>
                <goodahead_sales>
                    <file>goodahead_sales.xml</file>
                </goodahead_sales>
            </updates>
        </layout>
    </adminhtml>
</config>