<?xml version="1.0"?>
<config>
    <modules>
        <Goodahead_PrivateSales>
            <version>1.3.0.1</version>
        </Goodahead_PrivateSales>
    </modules>
    <global>
        <resources>
            <goodahead_privatesales_setup>
                <setup>
                    <module>Goodahead_PrivateSales</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodahead_privatesales_setup>
            <goodahead_privatesales_write>
              <connection>
                <use>core_write</use>
              </connection>
            </goodahead_privatesales_write>
            <goodahead_privatesales_read>
              <connection>
                <use>core_read</use>
              </connection>
            </goodahead_privatesales_read>
        </resources>
        <helpers>
            <goodahead_privatesales><class>Goodahead_PrivateSales_Helper</class></goodahead_privatesales>
        </helpers>
        <blocks>
            <goodahead_privatesales><class>Goodahead_PrivateSales_Block</class></goodahead_privatesales>
        </blocks>
        <models>
            <goodahead_privatesales>
                <class>Goodahead_PrivateSales_Model</class>
            </goodahead_privatesales>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <goodahead>
                                            <title>Intermix Section</title>
                                        </goodahead>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <restriction>
                <use>standard</use>
                <args>
                    <module>Goodahead_PrivateSales</module>
                    <frontName>private</frontName>
                </args>
            </restriction>
        </routers>
        <goodahead>
            <privatesales>
                <actions>
                    <allowed_register>
                        <customer_account_create/>
                        <customer_account_createpost/>
                    </allowed_register>
                    <allowed_global>
                        <customer_account_login/>
                        <customer_account_loginPost/>
                        <customer_account_confirm/>
                        <customer_account_confirmation/>
                        <customer_account_forgotpassword/>
                        <customer_account_forgotpasswordpost/>
                    </allowed_global>
                </actions>
            </privatesales>
        </goodahead>
        <events>
            <controller_action_predispatch>
                <observers>
                    <goodahead_privatesales_controller_predispatch>
                        <class>goodahead_privatesales/observer</class>
                        <method>checkAccess</method>
                    </goodahead_privatesales_controller_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_load_before>
                <observers>
                    <goodahead_privatesales_layout_load_before>
                        <class>goodahead_privatesales/observer</class>
                        <method>applyLayoutUpdates</method>
                    </goodahead_privatesales_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <customer_registration_is_allowed>
                <observers>
                    <goodahead_privatesales_registration_is_allowed>
                        <class>goodahead_privatesales/observer</class>
                        <method>checkRegistrationEnabled</method>
                    </goodahead_privatesales_registration_is_allowed>
                </observers>
            </customer_registration_is_allowed>
            <customer_login>
                <observers>
                    <goodahead_privatesales_customer_login>
                        <class>goodahead_privatesales/observer</class>
                        <method>customerLogin</method>
                    </goodahead_privatesales_customer_login>
                </observers>
            </customer_login>
        </events>
		<layout>
		    <updates>
		        <goodahead_privatesales>
		            <file>goodahead_privatesales.xml</file>
		        </goodahead_privatesales>
		    </updates>
		</layout>
    </frontend>
</config>