<?xml version="1.0"?>
<config>
    <modules>
        <Intermix_General>
            <version>0.0.5</version>
        </Intermix_General>
    </modules>
    <global>
        <resources>
            <intermix_general_setup>
                <setup>
                    <module>Intermix_General</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </intermix_general_setup>
            <intermix_general_write>
              <connection>
                <use>core_write</use>
              </connection>
            </intermix_general_write>
            <intermix_general_read>
              <connection>
                <use>core_read</use>
              </connection>
            </intermix_general_read>
        </resources>
        <helpers>
            <intermix_general><class>Intermix_General_Helper</class></intermix_general>
        </helpers>
        <blocks>
            <intermix_general><class>Intermix_General_Block</class></intermix_general>
            <catalogsearch>
                <rewrite>
                    <result>Intermix_General_Block_CatalogSearch_Result</result>
                    <term>Intermix_General_Block_CatalogSearch_Term</term>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <navigation>Intermix_General_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <intermix_general>
                <class>Intermix_General_Model</class>
                <resourceModel>intermix_general_mysql4</resourceModel>
            </intermix_general>
            <intermix_general_mysql4>
                <class>Intermix_General_Model_Mysql4</class>
            </intermix_general_mysql4>
            <catalog>
                <rewrite>
                    <category>Intermix_General_Model_Catalog_Category</category>
                    <layer_filter_item>Intermix_General_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_category>Intermix_General_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
        </models>
        <pdf>
            <totals>
                <discount>
                    <model>intermix_general/sales_order_pdf_total_discount</model>
                </discount>
            </totals>
        </pdf>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_cms>
                <observers>
                    <intermix_general_cms_predispatch>
                        <class>intermix_general/observer</class>
                        <method>initGlobalCategory</method>
                    </intermix_general_cms_predispatch>
                </observers>
            </controller_action_predispatch_cms>
        </events>
        <layout>
            <updates>
                <intermix_general>
                    <file>intermix_general.xml</file>
                </intermix_general>
            </updates>
        </layout>
    </frontend>
</config>
