<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_Adminnotification>
            <version>1.3.0.18</version>
        </Goodahead_Adminnotification>
    </modules>
    <global>
        <models>
            <adminnotification>
                <rewrite>
                    <feed>Goodahead_Adminnotification_Model_Feed</feed>
                </rewrite>
            </adminnotification>
        </models>
    </global>
</config>