<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_SalesRuleDiscount>
            <version>0.1.1</version>
        </Goodahead_SalesRuleDiscount>
    </modules>
    <global>
        <resources>
            <goodahead_salesrulediscount_setup>
                <setup>
                    <module>Goodahead_SalesRuleDiscount</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodahead_salesrulediscount_setup>
            <goodahead_salesrulediscount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </goodahead_salesrulediscount_write>
            <goodahead_salesrulediscount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </goodahead_salesrulediscount_read>
        </resources>
        <helpers>
            <goodahead_salesrulediscount><class>Goodahead_SalesRuleDiscount_Helper</class></goodahead_salesrulediscount>
        </helpers>
        <blocks>
            <goodahead_salesrulediscount><class>Goodahead_SalesRuleDiscount_Block</class></goodahead_salesrulediscount>
        </blocks>
        <models>
            <goodahead_salesrulediscount><class>Goodahead_SalesRuleDiscount_Model</class></goodahead_salesrulediscount>
        </models>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <im_discount_percent/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <goodahead_salesrulediscount_actions_prepareform>
                        <class>goodahead_salesrulediscount/observer</class>
                        <method>salesRuleActionsPrepareForm</method>
                    </goodahead_salesrulediscount_actions_prepareform>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
        </events>
    </adminhtml>
    <global>
        <events>
            <salesrule_validator_process>
                <observers>
                    <goodahead_salesrulediscount_apply_rule>
                        <class>goodahead_salesrulediscount/observer</class>
                        <method>applyRule</method>
                    </goodahead_salesrulediscount_apply_rule>
                </observers>
            </salesrule_validator_process>
        </events>
    </global>
</config>
