<?xml version="1.0"?>
<config>
    <Goodahead_GoogleShopping>
        <version>0.1.0</version>
    </Goodahead_GoogleShopping>
    <global>
        <models>
            <goodahead_google_shipping>
                <class>Goodahead_GoogleShopping_Model</class>
            </goodahead_google_shipping>
        </models>
        <helpers>
            <goodahead_google_shipping>
                <class>Goodahead_GoogleShopping_Helper</class>
            </goodahead_google_shipping>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <goodahead_google_shopping_load_collection>
                        <type>singleton</type>
                        <model>goodahead_google_shipping/observer</model>
                        <method>productCollectionLoadBefore</method>
                    </goodahead_google_shopping_load_collection>
                </observers>
            </catalog_product_collection_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <goodahead_google_shopping_block_to_html_before>
                        <type>singleton</type>
                        <model>goodahead_google_shipping/observer</model>
                        <method>blockToHtmlBefore</method>
                    </goodahead_google_shopping_block_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>