<?xml version="1.0"?>
<config>
    <modules>
        <Goodahead_Authorizenet>
            <version>0.1.1</version>
        </Goodahead_Authorizenet>
    </modules>
    <global>
        <blocks>
            <goodahead_authorizenet>
                <class>Goodahead_Authorizenet_Block</class>
            </goodahead_authorizenet>
        </blocks>
        <helpers>
            <goodahead_authorizenet>
                <class>Goodahead_Authorizenet_Helper</class>
            </goodahead_authorizenet>
        </helpers>
        <models>
            <goodahead_authorizenet>
                <class>Goodahead_Authorizenet_Model</class>
                <resourceModel>goodahead_authorizenet_mysql4</resourceModel>
            </goodahead_authorizenet>
            <goodahead_authorizenet_mysql4>
                <class>Goodahead_Authorizenet_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>goodahead_authorizenet_customer</table>
                    </customer>
                    <payment>
                        <table>goodahead_authorizenet_payment</table>
                    </payment>
                    <shipping>
                        <table>goodahead_authorizenet_shipping</table>
                    </shipping>
                </entities>
            </goodahead_authorizenet_mysql4>
        </models>
        <resources>
            <goodahead_authorizenet_setup>
                <setup>
                    <module>Goodahead_Authorizenet</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </goodahead_authorizenet_setup>
        </resources>
        <events>
            <customer_delete_before>
                <observers>
                    <goodahead_authorizenet_customer_delete_before>
                        <class>goodahead_authorizenet/observer</class>
                        <method>customerDeleteBefore</method>
                    </goodahead_authorizenet_customer_delete_before>
                </observers>
            </customer_delete_before>
            <customer_delete_commit_after>
                <observers>
                    <goodahead_authorizenet_customer_delete_commit_after>
                        <class>goodahead_authorizenet/observer</class>
                        <method>customerDeleteCommitAfter</method>
                    </goodahead_authorizenet_customer_delete_commit_after>
                </observers>
            </customer_delete_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <goodahead_authorizenet>
                <use>standard</use>
                <args>
                    <module>Goodahead_Authorizenet</module>
                    <frontName>goodahead_authorizenet</frontName>
                </args>
            </goodahead_authorizenet>
        </routers>
        <layout>
            <updates>
                <goodahead_authorizenet>
                    <file>goodahead_authorizenet.xml</file>
                </goodahead_authorizenet>
            </updates>
        </layout>
        <secure_url>
            <goodahead_authorizenet_account>/goodahead_authorizenet/account/</goodahead_authorizenet_account>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Goodahead_Authorizenet before="Mage_Adminhtml">Goodahead_Authorizenet_Adminhtml</Goodahead_Authorizenet>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_authorizenet>
                    <file>goodahead/authorizenet.xml</file>
                </goodahead_authorizenet>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <goodahead_authorizenet>
                                            <title>Goodahead Authorize.net Module</title>
                                        </goodahead_authorizenet>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <goodahead_authorizenet>
                <model>goodahead_authorizenet/paymentMethod</model>
            </goodahead_authorizenet>
        </payment>
    </default>
</config>