<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_Massimporterpro
 * @author     magepsycho@gmail.com
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MagePsycho_Massimporterpro>
            <version>1.1.0</version>
        </MagePsycho_Massimporterpro>
    </modules>
    <global>
        <models>
            <magepsycho_massimporterpro>
                <class>MagePsycho_Massimporterpro_Model</class>
                <resourceModel>magepsycho_massimporterpro_mysql4</resourceModel>
            </magepsycho_massimporterpro>
            <magepsycho_massimporterpro_mysql4>
                <class>MagePsycho_Massimporterpro_Model_Mysql4</class>
                <entities>
                    <massimporterpro>
                        <table>magepsycho_massimporterpro_logs</table>
                    </massimporterpro>
                </entities>
            </magepsycho_massimporterpro_mysql4>
        </models>
        <resources>
            <magepsycho_massimporterpro_setup>
                <setup>
                    <module>MagePsycho_Massimporterpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magepsycho_massimporterpro_setup>
            <magepsycho_massimporterpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magepsycho_massimporterpro_write>
            <magepsycho_massimporterpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magepsycho_massimporterpro_read>
        </resources>
        <blocks>
            <magepsycho_massimporterpro>
                <class>MagePsycho_Massimporterpro_Block</class>
            </magepsycho_massimporterpro>
        </blocks>
        <helpers>
            <magepsycho_massimporterpro>
                <class>MagePsycho_Massimporterpro_Helper</class>
            </magepsycho_massimporterpro>
        </helpers>
		<template>
            <email>
                <magepsycho_massimporterpro_price_settings_error_email_template translate="label" module="magepsycho_massimporterpro">
                    <label>Price Import Cron Error</label>
                    <file>magepsycho/massimporterpro/price_settings_error_email_template.html</file>
                    <type>html</type>
                </magepsycho_massimporterpro_price_settings_error_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magepsycho_massimporterpro before="Mage_Adminhtml">MagePsycho_Massimporterpro_Adminhtml</magepsycho_massimporterpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<magepsycho_massimporterpro>
					<file>magepsycho_massimporterpro.xml</file>
				</magepsycho_massimporterpro>
			</updates>
		</layout>
		<events>
            <controller_action_predispatch>
                <observers>
                    <magepsycho_massimporterpro_controller_action_predispatch>
                        <type>singleton</type>
                        <class>magepsycho_massimporterpro/observer</class>
                        <method>controllerActionPredispatch</method>
                    </magepsycho_massimporterpro_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
			<core_block_abstract_to_html_before>
                <observers>
                    <magepsycho_massimporterpro_core_block_abstract_to_html_before>
                        <class>magepsycho_massimporterpro/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </magepsycho_massimporterpro_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
	<crontab>
        <jobs>
            <massimporterpro_price_importer>
                <run>
                    <model>magepsycho_massimporterpro/cron_priceimporter::scheduledPriceImporter</model>
                </run>
            </massimporterpro_price_importer>
        </jobs>
    </crontab>
    <default>
        <magepsycho_massimporterpro>
            <option>
                <active>0</active>
                <enable_log>0</enable_log>
				<domain_type>1</domain_type>
            </option>
			<data_format>
				<delimiter>,</delimiter>
				<enclosure>"</enclosure>
			</data_format>
			<price_settings>
				<tier_price_import_type>merge</tier_price_import_type>
				<group_price_import_type>merge</group_price_import_type>
				<reindex_after_import>0</reindex_after_import>
                <price_rounding>0</price_rounding>
                <rounding_nearest>0.99</rounding_nearest>
				<enable_cron>0</enable_cron>
				<import_csv_dir>var/magepsycho/massimporterpro/price_importer/cron</import_csv_dir>
                <process_csv_type>1</process_csv_type>
                <error_email/>
                <error_email_template>magepsycho_massimporterpro_price_settings_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
			</price_settings>
        </magepsycho_massimporterpro>
    </default>
</config>