<?xml version="1.0"?>
<config>
    <modules>
        <Intermix_Cms>
            <version>0.0.1</version>
        </Intermix_Cms>
    </modules>
    <global>
        <cms>
            <layouts>
                <empty>
                    <label>Empty</label>
                    <template>page/one-column.phtml</template>
                </empty>
                <one_column>
                    <label>1 column</label>
                    <template>page/1column.phtml</template>
                </one_column>
                <two_columns_left>
                    <label>2 columns with left bar</label>
                    <template>page/2columns-left.phtml</template>
                </two_columns_left>
                <two_columns_right>
                    <label>2 columns with right bar</label>
                    <template>page/2columns-right.phtml</template>
                </two_columns_right>
                <three_columns>
                    <label>3 columns</label>
                    <template>page/3columns.phtml</template>
                </three_columns>
                  <homepage>
                    <label>Homepage</label>
                    <template>page/homepage.phtml</template>
                    <layout_handle>homepage</layout_handle>
                </homepage>
            </layouts>
        </cms>
    </global>
</config>
