<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_OrderedProducts>
            <version>1.4.0.2</version>
        </Goodahead_OrderedProducts>
    </modules>
    <global>
        <resources>
            <goodahead_orderedproducts_setup>
                <setup>
                    <module>Goodahead_OrderedProducts</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodahead_orderedproducts_setup>
        </resources>
        <helpers>
            <goodahead_orderedproducts>
                <class>Goodahead_OrderedProducts_Helper</class>
            </goodahead_orderedproducts>
        </helpers>
        <blocks>
            <goodahead_orderedproducts>
                <class>Goodahead_OrderedProducts_Block</class>
            </goodahead_orderedproducts>
        </blocks>
        <models>
            <goodahead_orderedproducts>
                <class>Goodahead_OrderedProducts_Model</class>
                <resourceModel>goodahead_orderedproducts_resource</resourceModel>
            </goodahead_orderedproducts>
            <goodahead_orderedproducts_resource>
                <class>Goodahead_OrderedProducts_Model_Resource</class>
                <entities>
                    <products>
                        <table>goodahead_orderedproducts_customer_products</table>
                    </products>
                </entities>
            </goodahead_orderedproducts_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <goodahead_orderedproducts>
                        <type>singleton</type>
                        <class>goodahead_orderedproducts/observer</class>
                        <method>orderPlaceAfter</method>
                    </goodahead_orderedproducts>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <goodahead_orderedproducts>
                <use>standard</use>
                <args>
                    <module>Goodahead_OrderedProducts</module>
                    <frontName>goodahead_orderedproducts</frontName>
                </args>
            </goodahead_orderedproducts>
            <customer>
                <args>
                    <modules>
                        <goodahead_orderedproducts before="Mage_Customer">Goodahead_OrderedProducts_Customer</goodahead_orderedproducts>
                   </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <goodahead_orderedproducts>
                    <file>goodahead_orderedproducts.xml</file>
                </goodahead_orderedproducts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_orderedproducts>
                    <file>goodahead/orderedproducts.xml</file>
                </goodahead_orderedproducts>
            </updates>
        </layout>
        <events>
            <customer_save_after>
                <observers>
                    <goodahead_orderedproducts>
                        <type>singleton</type>
                        <class>goodahead_orderedproducts/observer</class>
                        <method>customerSaveAfter</method>
                    </goodahead_orderedproducts>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Goodahead_OrderedProducts before="Mage_Adminhtml">Goodahead_OrderedProducts_Adminhtml</Goodahead_OrderedProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>