<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_LimitPmpg>
            <version>0.0.1</version>
        </Goodahead_LimitPmpg>
    </modules>
    <global>
        <models>
            <goodahead_limitpmpg>
                <class>Goodahead_LimitPmpg_Model</class>
                <resourceModel>goodahead_limitpmpg_mysql4</resourceModel>
            </goodahead_limitpmpg>
            <goodahead_limitpmpg_mysql4>
                <class>Goodahead_LimitPmpg_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>goodahead_limitpmpg_group</table>
                    </group>
                </entities>
            </goodahead_limitpmpg_mysql4>
        </models>
        <resources>
            <goodahead_limitpmpg_setup>
                <setup>
                    <module>Goodahead_LimitPmpg</module>
                </setup>
            </goodahead_limitpmpg_setup>
        </resources>
        <helpers>
            <goodahead_limitpmpg>
                <class>Goodahead_LimitPmpg_Helper</class>
            </goodahead_limitpmpg>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <goodahead_limitpmpg_block_abstract_prepare_layout_after>
                        <class>goodahead_limitpmpg/observer</class>
                        <method>blockPrepareLayoutAfter</method>
                    </goodahead_limitpmpg_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <customer_group_save_after>
                <observers>
                    <goodahead_limitpmpg_customer_group_save_after>
                        <class>goodahead_limitpmpg/observer</class>
                        <method>customerGroupSaveAfter</method>
                    </goodahead_limitpmpg_customer_group_save_after>                
                </observers>
            </customer_group_save_after>
            <customer_group_load_after>
                <observers>
                    <goodahead_limitpmpg_customer_group_load_after>
                        <class>goodahead_limitpmpg/observer</class>
                        <method>customerGroupLoadAfter</method>
                    </goodahead_limitpmpg_customer_group_load_after>                
                </observers>
            </customer_group_load_after>
        </events>    
    </adminhtml>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <goodahead_limitpmpg_frontend_payment_method_is_active>
                        <class>goodahead_limitpmpg/observer</class>
                        <method>frontentPaymentMethodIsActive</method>
                    </goodahead_limitpmpg_frontend_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <customer_group_load_after>
                <observers>
                    <goodahead_limitpmpg_frontend_customer_group_load_after>
                        <class>goodahead_limitpmpg/observer</class>
                        <method>frontendCustomerGroupLoadAfter</method>
                    </goodahead_limitpmpg_frontend_customer_group_load_after>                
                </observers>
            </customer_group_load_after>
        </events>
    </frontend>
</config>