<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_LimitSmpg>
            <version>0.0.1</version>
        </Goodahead_LimitSmpg>
    </modules>
    <global>
        <models>
            <goodahead_limitsmpg>
                <class>Goodahead_LimitSmpg_Model</class>
                <resourceModel>goodahead_limitsmpg_mysql4</resourceModel>
            </goodahead_limitsmpg>
            <goodahead_limitsmpg_mysql4>
                <class>Goodahead_LimitSmpg_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>goodahead_limitsmpg_group</table>
                    </group>
                </entities>
            </goodahead_limitsmpg_mysql4>
        </models>
        <blocks>
            <goodahead_limitsmpg>
                <class>Goodahead_LimitSmpg_Block</class>
            </goodahead_limitsmpg>
        </blocks>
        <resources>
            <goodahead_limitsmpg_setup>
                <setup>
                    <module>Goodahead_LimitSmpg</module>
                </setup>
            </goodahead_limitsmpg_setup>
        </resources>
        <helpers>
            <goodahead_limitsmpg>
                <class>Goodahead_LimitSmpg_Helper</class>
            </goodahead_limitsmpg>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <goodahead_limitsmpg_block_abstract_prepare_layout_after>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>blockPrepareLayoutAfter</method>
                    </goodahead_limitsmpg_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <customer_group_save_after>
                <observers>
                    <goodahead_limitsmpg_customer_group_save_after>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>customerGroupSaveAfter</method>
                    </goodahead_limitsmpg_customer_group_save_after>
                </observers>
            </customer_group_save_after>
            <customer_group_load_after>
                <observers>
                    <goodahead_limitsmpg_customer_group_load_after>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>customerGroupLoadAfter</method>
                    </goodahead_limitsmpg_customer_group_load_after>
                </observers>
            </customer_group_load_after>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <goodahead_limitsmpg_sales_quote_collect_totals_after>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>frontentSalesQuoteCollectTotalsAfter</method>
                    </goodahead_limitsmpg_sales_quote_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
            <!-- AheadWorks OnestepCheckout fix  -->
            <sales_quote_address_save_before>
                <observers>
                    <goodahead_limitsmpg_sales_quote_address_save_before>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>frontentSalesQuoteAddressSaveBefore</method>
                    </goodahead_limitsmpg_sales_quote_address_save_before>
                </observers>
            </sales_quote_address_save_before>
            <customer_group_load_after>
                <observers>
                    <goodahead_limitsmpg_frontend_customer_group_load_after>
                        <class>goodahead_limitsmpg/observer</class>
                        <method>frontendCustomerGroupLoadAfter</method>
                    </goodahead_limitsmpg_frontend_customer_group_load_after>
                </observers>
            </customer_group_load_after>
        </events>
    </frontend>
</config>